---
layout: templates/base.njk
---

<h2>Seasons</h2>

<ul>
  {% for key, season in seasons %}
    <li>
      <a href="/seasons/{{ season.slug }}/" style="color: {{ season.color }}">
        {{ season.name }}
      </a>
      <p>{{ season.description }}</p>
    </li>
  {% endfor %}
</ul>

