---
layout: templates/base.njk
---

<div class="season-card" style="border-color: {{ seasonColor }}; max-width: 520px;">
  <h2>{{ title }}</h2>

  <div class="note-body">
    {{ content | safe }}
  </div>
</div>
